body{
    margin: 0;
    background-color: #00161b;
    
    min-height: 80vh; /*aqui serve para deixar bem no centro da tela - mexe no eixo y do body*/
    display: grid;
    place-items: center;
}

input{
    height: 45px;

    font-size: 20px;
    padding: 5px 10px;
}

.jogo{
    margin-bottom: 100px;
    display: grid;
    place-items: center;
}

.textoEbotao{
    display: flex;
    align-items: center;

    border: 1px solid #ffffff;
    border-radius: 2%;
}

button{
    background-color: rgb(0, 97, 0);
    border: none;
    height: 57px;
    width: 45px;
}

.textos{
    color: antiquewhite;
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}

.campoLeitura{

    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    height: 30px; 
    
    width: 310px; /* Ajuste a largura conforme necessário */
    padding: 10px; /* Espaçamento interno */

    border-radius: 10px; /* Valor para arredondar as bordas */
}

